.title {
    font-weight: 500;
    font-size: 48;
    text-align: center;
}

.logo {
    color: violet;
    font-size: 36px;
}

.container {
    min-height: calc(80vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:last-child {
    margin-left: 12px;
}

.link:not(:last-child) {
    margin-right: 12px;
}